In [1]:
#Importing dependencies
from sqlalchemy import create_engine
from config import db_password
import pandas as pd

In [2]:
#Creating connection string
db_string = f"postgres://postgres:{db_password}@indusscript.cljludlfcgoa.us-east-2.rds.amazonaws.com:5432/postgres"

In [3]:
#Setting Dataframe display to max
pd.set_option('display.max_rows', None)

In [4]:
#Creating engine
engine = create_engine(db_string)

In [5]:
#Reading clitics dataframe from sql. (Created in Tamil_Morpheme_List.ipynb)
clitics_data = pd.read_sql_table('clitics', con=engine)
clitics_data.reset_index(drop=True, inplace=True)
clitics_data.drop(columns="index", inplace=True)
clitics_data.head()

      form  Counts upos       xpos  NoSpaceAfter
0       ஆன      69    T  Tg-------           2.0
1  உள்ளார்      32    V  VR-T3SHAA           2.0
2      உம்     234    T  Tv-------           2.0
3    பட்டு      19    V  VT-T---PA           2.0
4     ப்பட       7    V  VU-T---PA           2.0

In [6]:
#Reading complete tamil data from sql
tamildata = pd.read_sql_table('complete_tamil', con=engine)
tamildata.drop(columns="index", inplace=True)
s = tamildata.index1.sort_values().index
tamildata = tamildata.reindex(s)
tamildata.reset_index(drop=True, inplace=True)
tamildata.drop(columns="index1", inplace=True)
tamildata[1555:1562]

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated
1555,சார்பில்,சார்பு,P,PP-------,18,ில்,0.0,136,"{ச,ா,ர,்,ப,ி,ல,்}"
1556,விசாரணையை,விசாரணை,N,NNA-3SN--,18,யை,0.0,45,"{வ,ி,ச,ா,ர,ண,ை,ய,ை}"
1557,எதிர்கொள்வதற்க்,எதிர்கொள்,V,VzDF3SNAA,19,வதற்க்,1.0,17,"{எ,த,ி,ர,்,க,ொ,ள,்,வ,த,ற,்,க,்}"
1558,ஆக,ஆக,T,Tg-------,22,ஆக,2.0,127,"{ஆ,க}"
1559,வழக்கறிஞர்,வழக்கறிஞர்,N,NNN-3SH--,21,,0.0,0,"{வ,ழ,க,்,க,ற,ி,ஞ,ர,்}"
1560,ஒருவர்,ஒருவர்,N,NNN-3SH--,22,,0.0,0,"{ஒ,ர,ு,வ,ர,்}"
1561,நியமிக்கப்,நியமி,V,Vu-T---AA,25,க்கப்,1.0,69,"{ந,ி,ய,ம,ி,க,்,க,ப,்}"

In [7]:
postpositions = tamildata[(tamildata["upos"]=='C')|(tamildata["upos"]=='D')|(tamildata["upos"]=='P')|(tamildata["upos"]=='Q')|(tamildata["upos"]=='T')&(tamildata["NoSpaceAfter"]!=2.0)&(tamildata["NoSpaceAfter"]!=3.0)]
postpositions = postpositions[["form", "lemma", "Counts", "upos", "xpos", "NoSpaceAfter"]]
postpositions.drop_duplicates(subset="form", inplace=True)
postpositions.reset_index(drop=True, inplace=True)
postpositions.tail()

           form       lemma  Counts upos       xpos  NoSpaceAfter
109           ஆ           ஆ       0    T  Te-------           0.0
110  காட்டிலும்  காட்டிலும்       0    T  Tb-------           0.0
111    என்பதைய்         என்       1    T  TzAF3SN-A           1.0
112     பின்னர்     பின்னர்       0    P  PP-------           0.0
113         ஒரு         ஒரு       0    D  DD-------           0.0

In [8]:
clitics_data = clitics_data.append(postpositions)
clitics_data.reset_index(drop=True, inplace=True)
clitics_data.drop_duplicates(subset="form", inplace=True)
clitics_data.tail()

           form  Counts upos       xpos  NoSpaceAfter       lemma
179           ஆ       0    T  Te-------           0.0           ஆ
180  காட்டிலும்       0    T  Tb-------           0.0  காட்டிலும்
181    என்பதைய்       1    T  TzAF3SN-A           1.0         என்
182     பின்னர்       0    P  PP-------           0.0     பின்னர்
183         ஒரு       0    D  DD-------           0.0         ஒரு

In [10]:
# Adding an identifier for each clitic. To function as a logogram
clitics = pd.DataFrame(clitics_data[["form", "upos", "NoSpaceAfter"]])
s= clitics.form.str.len().sort_values(ascending=False).index
clitics = clitics.reindex(s)
clitics.reset_index(drop=True, inplace=True)
clitics["id"] = clitics.index + 1000
clitics["id"] = clitics["id"].astype(str)
clitics.rename(columns = {'upos': "Type"}, inplace = True)
for i in range(len(clitics)):
    Type = clitics.loc[i, "Type"]
    if Type == 'V':
        clitics.loc[i, "Type"] = "Verb"
    elif Type == 'T':
        clitics.loc[i, "Type"] = "Particles"
    elif Type == 'J':
        clitics.loc[i, "Type"] = "Adjectives"
    elif Type == 'Q':
        clitics.loc[i, "Type"] = "Quantifiers"
    elif Type == 'D':
        clitics.loc[i, "Type"] = "Determiners"
    else:
        clitics.loc[i, "Type"] = "Conjunctions"
for i in range(len(clitics)):
    if clitics.loc[i, "NoSpaceAfter"]==2.0:
        clitics.loc[i, "id"] = '-' + clitics.loc[i, "id"]
    elif clitics.loc[i, "NoSpaceAfter"]==3.0:
        clitics.loc[i, "id"] = clitics.loc[i, "id"] +'-'
clitics.head()

             form          Type  NoSpaceAfter     id
0  இருக்கிறீர்கள்          Verb           2.0  -1000
1    இருக்கினறனர்          Verb           2.0  -1001
2      காட்டிலும்     Particles           0.0   1002
3      இடமிருந்து  Conjunctions           0.0   1003
4      இருக்கிறது          Verb           2.0  -1004

In [11]:
#Adding clitics, postpositions and identifiers to sql
clitics.to_sql(name ='clitics_and_postpositions_labelled', con=engine)

In [12]:
#Adding clitics, postpositions and identifiers to csv
clitics.to_csv('Converted_Tamil/LogoSyllabic/clitics_and_postpositions_labelled.csv', encoding='utf-8-sig')

In [13]:
# Adding form column to dataframe

for i in range(len(clitics["form"])):
    tamildata["form"] = tamildata["form"].str.replace(clitics["form"][i], clitics["id"][i])

tamildata.head()

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated
0,சென்னை,சென்னை,N,NEN-3SN--,2,,0.0,0,"{ச,ெ,ன,்,ன,ை}"
1,1094,அருகே,P,PP-------,18,,0.0,0,"{அ,ர,ு,க,ே}"
2,ஸ்ரீ,ஸ்ரீ,N,NEN-3SN--,4,,0.0,0,"{ஸ,்,ர,ீ}"
3,பெரும்புதூரில்,பெரும்புதூர்,N,NEL-3SN--,18,ில்,0.0,136,"{ப,ெ,ர,ு,ம,்,ப,ு,த,ூ,ர,ி,ல,்}"
4,கிரீன்,கிரீன்,N,NEN-3SN--,6,,0.0,0,"{க,ி,ர,ீ,ன,்}"

In [14]:
tamildata.reset_index(drop=True, inplace=True)

In [15]:
tamildata["index1"] = tamildata.index
tamildata[1555:1570]

,form,lemma,upos,xpos,head,FormWithoutLemma,NoSpaceAfter,Counts,MorphemeSeparated,index1
1555,1019,சார்பு,P,PP-------,18,ில்,0.0,136,"{ச,ா,ர,்,ப,ி,ல,்}",1555
1556,விசாரணையை,விசாரணை,N,NNA-3SN--,18,யை,0.0,45,"{வ,ி,ச,ா,ர,ண,ை,ய,ை}",1556
1557,எதிர்கொள்வதற்க்,எதிர்கொள்,V,VzDF3SNAA,19,வதற்க்,1.0,17,"{எ,த,ி,ர,்,க,ொ,ள,்,வ,த,ற,்,க,்}",1557
1558,-1154,ஆக,T,Tg-------,22,ஆக,2.0,127,"{ஆ,க}",1558
1559,வழக்கறிஞர்,வழக்கறிஞர்,N,NNN-3SH--,21,,0.0,0,"{வ,ழ,க,்,க,ற,ி,ஞ,ர,்}",1559
1560,1141வர்,ஒருவர்,N,NNN-3SH--,22,,0.0,0,"{ஒ,ர,ு,வ,ர,்}",1560
1561,நிய1147்கப்,நியமி,V,Vu-T---AA,25,க்கப்,1.0,69,"{ந,ி,ய,ம,ி,க,்,க,ப,்}",1561
1562,-1088,படு,V,VT-T---PA,22,பட்ட்,2.0,52,"{ப,ட,்,ட,்}",1562
1563,-1018,இரு,V,VZNF3SNAA,22,இருப்பத்,2.0,6,"{இ,ர,ு,ப,்,ப,த,்}",1563
1564,-1127,ஆகு,T,Tg-------,27,இருப்பத்,2.0,6,"{ஆ,க,வ,்}",1564
1565,-1138,உம்,T,Tv-------,25,இருப்பத்,2.0,6,"{உ,ம,்}",1565
1566,கூறினார்,கூறு,V,Vr-D3SHAA,0,ினார்,0.0,27,"{க,ூ,ற,ி,ன,ா,ர,்}",1566
1567,.,.,Z,Z#-------,0,,0.0,0,{.},1567
1568,1140-போதைக்கு,இப்போதைக்கு,A,AA-------,3,,0.0,0,"{இ,ப,்,ப,ோ,த,ை,க,்,க,ு}",1568
1569,யாரும்,யார்,R,RBN-3SA--,3,ும்,0.0,16,"{ய,ா,ர,ு,ம,்}",1569

In [16]:
# Sending tamildata with converted clitics to sql
tamildata.to_sql(name ='converted_clitics_tamil', con=engine)