In [30]:
import pandas as pd

In [66]:
words = [['abc', 0],['abc', 0],['abc', 0],['cater',1],['cater',1],['cater',1],['cater',1],['cater',1],['illia',2],['illia',2],['illia',2], ['illia',2], ['illia',2], ['doge',3], ['doge',3], ['doge',3], ['doge',3], ['walking',4], ['walking',4], ['walking',4], ['walking',4], ['walking',4], ['walking',4], ['walking',4], ['cycle',5], ['cycle',5], ['cycle',5], ['cycle',5], ['cycle',5], ['jumping',6], ['jumping',6], ['jumping',6], ['jumping',6], ['jumping',6], ['jumping',6], ['jumping',6], ['jumping',6]]

In [65]:
morpheme2 = ['ab','ing','cat','er','il', 'ge','le','i']

In [57]:
len('abc')

3

In [67]:
features_df = pd.DataFrame(words, columns = ['form','key'])
features_df

       form  key
0       abc    0
1       abc    0
2       abc    0
3     cater    1
4     cater    1
5     cater    1
6     cater    1
7     cater    1
8     illia    2
9     illia    2
10    illia    2
11    illia    2
12    illia    2
13     doge    3
14     doge    3
15     doge    3
16     doge    3
17  walking    4
18  walking    4
19  walking    4
20  walking    4
21  walking    4
22  walking    4
23  walking    4
24    cycle    5
25    cycle    5
26    cycle    5
27    cycle    5
28    cycle    5
29  jumping    6
30  jumping    6
31  jumping    6
32  jumping    6
33  jumping    6
34  jumping    6
35  jumping    6
36  jumping    6

In [68]:
features_df['morpheme boundary']=0
features_df

       form  key  morpheme boundary
0       abc    0                  0
1       abc    0                  0
2       abc    0                  0
3     cater    1                  0
4     cater    1                  0
5     cater    1                  0
6     cater    1                  0
7     cater    1                  0
8     illia    2                  0
9     illia    2                  0
10    illia    2                  0
11    illia    2                  0
12    illia    2                  0
13     doge    3                  0
14     doge    3                  0
15     doge    3                  0
16     doge    3                  0
17  walking    4                  0
18  walking    4                  0
19  walking    4                  0
20  walking    4                  0
21  walking    4                  0
22  walking    4                  0
23  walking    4                  0
24    cycle    5                  0
25    cycle    5                  0
26    cycle    5                  0
27    cycle    5                  0
28    cycle    5                  0
29  jumping    6                  0
30  jumping    6                  0
31  jumping    6                  0
32  jumping    6                  0
33  jumping    6                  0
34  jumping    6                  0
35  jumping    6                  0
36  jumping    6                  0

In [69]:
data = [['tom', 10], ['nick', 15], ['juli', 14]]
df = pd.DataFrame(data, columns = ['Name', 'Age'])
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [70]:
len(df['Name'].tolist())

3

In [71]:
df['Name'][1]

'nick'

In [72]:
# list of all words (includes duplicates)
all_words = features_df['form'].tolist()

prev_key = -1
# indexes through every row
for word_idx in range(len(all_words)):
    # if previous key matches row key, same word
    if(prev_key == features_df['key'][word_idx]):
        # iterate for loop, move to next row
        continue
    # finished looking at word, move to new word and conduct morpheme search
    else:
        prev_key = features_df['key'][word_idx]

# Morpheme search
    
    for morph_idx in range(len(morpheme2)):
        try:
            # gets starting index of morpheme in word
            str_idx = all_words[word_idx].index(morpheme2[morph_idx])
            # identify beginning of morpheme
            features_df['morpheme boundary'][word_idx + str_idx] = 1
            # identify end of morpheme
            features_df['morpheme boundary'][word_idx + str_idx + len(morpheme2[morph_idx])-1] = 2
        except:
            continue

C:\Users\sonia\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\sonia\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [73]:
features_df

       form  key  morpheme boundary
0       abc    0                  1
1       abc    0                  2
2       abc    0                  0
3     cater    1                  1
4     cater    1                  0
5     cater    1                  2
6     cater    1                  1
7     cater    1                  2
8     illia    2                  2
9     illia    2                  2
10    illia    2                  0
11    illia    2                  0
12    illia    2                  0
13     doge    3                  0
14     doge    3                  0
15     doge    3                  1
16     doge    3                  2
17  walking    4                  0
18  walking    4                  0
19  walking    4                  0
20  walking    4                  0
21  walking    4                  2
22  walking    4                  0
23  walking    4                  2
24    cycle    5                  0
25    cycle    5                  0
26    cycle    5                  0
27    cycle    5                  1
28    cycle    5                  2
29  jumping    6                  0
30  jumping    6                  0
31  jumping    6                  0
32  jumping    6                  0
33  jumping    6                  2
34  jumping    6                  0
35  jumping    6                  2
36  jumping    6                  0